/**
 *  BASE
 */

body {
  font-family: "Spoqa Han Sans", Helvetica, Arial, sans-serif;
  font-size: 13px;
  letter-spacing: -0.5px;
}

#app-wrapper {
  max-width: 500px;
  margin: 0 auto;
  padding: 0 15px;
  height: 100%;
}
